Webservice_Berthouzoz_Favre/Webservice_Console/Connected Services/WebserviceRef/Webservice_Berthouzoz_Favre.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Webservice_Berthouzoz_Favre" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56150/Webservice_Berthouzoz_Favre.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56150/Webservice_Berthouzoz_Favre.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56150/Webservice_Berthouzoz_Favre.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebservice_Berthouzoz_Favre_GetStudentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentById" />
  </wsdl:message>
  <wsdl:message name="IWebservice_Berthouzoz_Favre_GetStudentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWebservice_Berthouzoz_Favre_GetStudentByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByUsername" />
  </wsdl:message>
  <wsdl:message name="IWebservice_Berthouzoz_Favre_GetStudentByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IWebservice_Berthouzoz_Favre_AddStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStudent" />
  </wsdl:message>
  <wsdl:message name="IWebservice_Berthouzoz_Favre_AddStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IWebservice_Berthouzoz_Favre_ChargeAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:ChargeAccount" />
  </wsdl:message>
  <wsdl:message name="IWebservice_Berthouzoz_Favre_ChargeAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChargeAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IWebservice_Berthouzoz_Favre_GetQuotaById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotaById" />
  </wsdl:message>
  <wsdl:message name="IWebservice_Berthouzoz_Favre_GetQuotaById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotaByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWebservice_Berthouzoz_Favre_GetQuotaByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotaByUsername" />
  </wsdl:message>
  <wsdl:message name="IWebservice_Berthouzoz_Favre_GetQuotaByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotaByUsernameResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebservice_Berthouzoz_Favre">
    <wsdl:operation name="GetStudentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebservice_Berthouzoz_Favre/GetStudentById" message="tns:IWebservice_Berthouzoz_Favre_GetStudentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebservice_Berthouzoz_Favre/GetStudentByIdResponse" message="tns:IWebservice_Berthouzoz_Favre_GetStudentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebservice_Berthouzoz_Favre/GetStudentByUsername" message="tns:IWebservice_Berthouzoz_Favre_GetStudentByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebservice_Berthouzoz_Favre/GetStudentByUsernameResponse" message="tns:IWebservice_Berthouzoz_Favre_GetStudentByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebservice_Berthouzoz_Favre/AddStudent" message="tns:IWebservice_Berthouzoz_Favre_AddStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebservice_Berthouzoz_Favre/AddStudentResponse" message="tns:IWebservice_Berthouzoz_Favre_AddStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChargeAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebservice_Berthouzoz_Favre/ChargeAccount" message="tns:IWebservice_Berthouzoz_Favre_ChargeAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebservice_Berthouzoz_Favre/ChargeAccountResponse" message="tns:IWebservice_Berthouzoz_Favre_ChargeAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuotaById">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebservice_Berthouzoz_Favre/GetQuotaById" message="tns:IWebservice_Berthouzoz_Favre_GetQuotaById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebservice_Berthouzoz_Favre/GetQuotaByIdResponse" message="tns:IWebservice_Berthouzoz_Favre_GetQuotaById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuotaByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebservice_Berthouzoz_Favre/GetQuotaByUsername" message="tns:IWebservice_Berthouzoz_Favre_GetQuotaByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebservice_Berthouzoz_Favre/GetQuotaByUsernameResponse" message="tns:IWebservice_Berthouzoz_Favre_GetQuotaByUsername_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebservice_Berthouzoz_Favre" type="tns:IWebservice_Berthouzoz_Favre">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudentById">
      <soap:operation soapAction="http://tempuri.org/IWebservice_Berthouzoz_Favre/GetStudentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentByUsername">
      <soap:operation soapAction="http://tempuri.org/IWebservice_Berthouzoz_Favre/GetStudentByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction="http://tempuri.org/IWebservice_Berthouzoz_Favre/AddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChargeAccount">
      <soap:operation soapAction="http://tempuri.org/IWebservice_Berthouzoz_Favre/ChargeAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuotaById">
      <soap:operation soapAction="http://tempuri.org/IWebservice_Berthouzoz_Favre/GetQuotaById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuotaByUsername">
      <soap:operation soapAction="http://tempuri.org/IWebservice_Berthouzoz_Favre/GetQuotaByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Webservice_Berthouzoz_Favre">
    <wsdl:port name="BasicHttpBinding_IWebservice_Berthouzoz_Favre" binding="tns:BasicHttpBinding_IWebservice_Berthouzoz_Favre">
      <soap:address location="http://localhost:56150/Webservice_Berthouzoz_Favre.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>